<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>Main Page</h1>
    <a href="{% url 'manager_page' %}">관리자 페이지</a>
    <form method="post">
        {% csrf_token %}
        <label for="student_id">학번:</label>
        <input type="text" name="student_id" required><br>
        <label for="major_dropdown">학과 선택:</label>
        <select id="major_dropdown" name="major">
            <option value="">모든 학과</option>
            <option value="경영학과">경영학과</option>
            <option value="관광개발학과">관광개발학과</option>
            <option value="경영학과(2부)">경영학과(2부)</option>
            <option value="글로벌물류학부">글로벌물류학부</option>
            <option value="글로벌물류학부 유통물류">글로벌물류학부 유통물류</option>
            <option value="글로벌물류학부 국제물류">글로벌물류학부 국제물류</option>
            <option value="동아시아물류학부 국제물류">동아시아물류학부 국제물류</option>
            <option value="동아시아물류학부 유통물류">동아시아물류학부 유통물류</option>
            <option value="산업경영공학과">산업경영공학과</option>
        </select>
        <input type="submit" value="조회">
    </form>
</body>
</html>