<!DOCTYPE html>
<html>
<head>
    <title>도장 수정</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
			<tbody>
        <tr>
            <td>event_name : <input type="text" name="event_name" value="{{ stamp_instance.event_name }}" placeholder="도장 이름"></td>
        </tr>
        <tr>
            <td>event_info : <input type="text" name="event_info" value="{{ stamp_instance.event_info }}" placeholder="이벤트 정보"></td>
        </tr>
        <tr>
            <td>event_start : <input type="text" name="event_start" value="{{ stamp_instance.event_start |date:"Y-m-d" }}" placeholder="이벤트 시작일" class="datepicker"></td>
        </tr>
        <tr>
            <td>event_end : <input type="text" name="event_end" value="{{ stamp_instance.event_end |date:"Y-m-d" }}" placeholder="이벤트 종료일" class="datepicker"></td>
        </tr>
        <!-- 현재 이미지 출력 -->
        
        <tr>
            <td>before_image : <input type="file" name="before_image" accept=".jpg, .jpeg, .png, .gif"></td>
            <td>
                {% if stamp_instance.before_image %}
                    <img src="{{ stamp_instance.before_image.url }}" alt="Before Image" width="100" height="100">
                    <input type="file" style="display:none;">
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>after_image : <input type="file" name="after_image" accept=".jpg, .jpeg, .png, .gif"></td>
            <td>
                {% if stamp_instance.after_image %}
                    <img src="{{ stamp_instance.after_image.url }}" alt="After Image" width="100" height="100">
                    <input type="file" style="display:none;">
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
        <!-- 저장 버튼 -->
        <button id="save-button">저장</button>

        <!-- 팝업 모달 -->
        <div id="confirmation-modal" style="display: none;">
            <p>변경 사항을 저장하시겠습니까?</p>
            <button id="confirm-save">예</button>
            <button id="cancel-save" type="button">아니요</button>
        </div>  
        <!-- 저장하지 않고 나가기 버튼 -->
        <button id="stop-action-button"> X </button>
        <!-- 팝업 모달 -->
        <div id="confirmation-modal-leave" style="display: none;">
            <p>추가하지 않고 나가시겠습니까?</p>
            <button id="confirm-leave">예</button>
            <button id="cancel-leave" type="button">아니오</button>
        </div>
<script>
    var csrf_token = "{{ csrf_token }}";

    // 저장 버튼 클릭 시 팝업 창 표시
    document.getElementById('save-button').addEventListener('click', function(e) {
        e.preventDefault(); // 기본 동작(페이지 이동) 막기
        document.getElementById('confirmation-modal').style.display = 'block';
    });

    // 예 버튼 클릭 시 변경 사항 저장 후 페이지 유지
    document.getElementById('confirm-save').addEventListener('click', function() {
        // 변경 사항 저장
        document.getElementById('confirmation-modal').style.display = 'none'; // 모달 닫기
        // 여기에서 변경 사항을 서버로 전송하고 저장하는 JavaScript 코드를 추가하세요.
    });

    // 아니오 버튼 클릭 시 팝업 창 닫기
    document.getElementById('cancel-save').addEventListener('click', function() {
        //e.preventDefault(); // 기본 동작(페이지 이동) 막기
        document.getElementById('confirmation-modal').style.display = 'none';
    });
</script>

<script>
    var csrf_token = "{{ csrf_token }}";
    // 저장하지 않고 나가기 버튼 클릭 시 팝업 창 표시
    document.getElementById('stop-action-button').addEventListener('click', function(e) {
        e.preventDefault(); // 기본 동작(페이지 이동) 막기
        document.getElementById('confirmation-modal-leave').style.display = 'block';
    });

    // 예 버튼 클릭 시 이전 페이지로 돌아가기
    document.getElementById('confirm-leave').addEventListener('click', function() {
        // 이 부분에서 브라우저의 기본 동작을 막아야 합니다.
        event.preventDefault();
        // 여기에서 저장되지 않고 이전 페이지로 돌아가는 JavaScript 코드를 추가합니다.
        window.location.href = document.referrer; // 이전 페이지로 이동
    });


    // 아니오 버튼 클릭 시 팝업 창 닫기
    document.getElementById('cancel-leave').addEventListener('click', function() {
        document.getElementById('confirmation-modal-leave').style.display = 'none';
    });
</script>

    </form>
</body>
<script>
	$(document).ready(function() {
		// Datepicker를 적용할 필드 선택자를 사용하여 Datepicker를 초기화합니다.
		$('.datepicker').datepicker({
			dateFormat: 'yy-mm-dd', // 날짜 형식 설정 (원하는 형식으로 변경할 수 있음)
			changeMonth: true, // 월 변경 가능
			changeYear: true, // 연도 변경 가능
			minDate: 0, // 오늘 이후의 날짜만 선택 가능하도록 설정 (선택 가능한 최소 날짜)
		});
	});
	</script>
</html>
