<!DOCTYPE html>
<html>
<head>
    <title>이벤트 참여자 조회</title>
</head>
<body>
    <h1>이벤트 참여자 조회</h1>

    <!--체크박스 오른쪽 배열-->
    <style>
        /* 추가된 CSS 스타일 */
        .student-row {
            display: flex;
            align-items: center;
        }

        .student-row input[type="checkbox"] {
            margin-left: 10px; /* 체크박스와 학과, 학번, 이름 사이의 간격 조정 */
        }
    </style>



    <form method="POST" action="{% url 'user_check' %}">
        {% csrf_token %}
        <!-- 이벤트 조회 드롭다운!-->
        <label for="event_dropdown">이벤트 조회:</label>
        <select id="event_dropdown" name="event_name">
            <option value="">이벤트 선택</option>
            {% for event in events %}
            {% comment %} <option value="{{ event.event_name }}">{{ event.event_name }}</option> {% endcomment %}
            <option value="{{ event.event_name }}" {% if event.event_name == initial_data.event_name %}selected {% endif %}>{{ event.event_name }}</option>
            {% endfor %}
        </select>
        <br>

        <!-- 학과 드롭다운 -->
        <label for="major_dropdown">학과 선택:</label>
        <select id="major_dropdown" name="major">
            <option value="">모든 학과</option>
            {% comment %} <option value="경영학과">경영학과</option> {% endcomment %}
            <option value="경영학과" {% if '경영학과' == initial_data.major %}selected {% endif %}>경영학과</option>
            <option value="관광개발학과">관광개발학과</option>
            <option value="경영학과(2부)">경영학과(2부)</option>
            <option value="글로벌물류학부">글로벌물류학부</option>
            <option value="글로벌물류학부 유통물류">글로벌물류학부 유통물류</option>
            <option value="글로벌물류학부 국제물류">글로벌물류학부 국제물류</option>
            <option value="동아시아물류학부 국제물류">동아시아물류학부 국제물류</option>
            <option value="동아시아물류학부 유통물류">동아시아물류학부 유통물류</option>
            <option value="산업경영공학과">산업경영공학과</option>
        </select>
        <br>

        <!-- 학번 입력 -->
        <label for="student_id">학번 입력:</label>
        {% comment %} <input type="text" id="student_id" name="student_id"> {% endcomment %}
        <input type="text" id="student_id" name="student_id" value="{{ initial_data.student_id }}">
        <br>

        <!-- 조회하기 버튼 -->
        <input type="submit" value="검색하기">
    </form>

    <!-- 조회된 학생 목록 -->
    <form method="POST" action="{% url 'user_check' %}">
        {% csrf_token %}
        <ul>
            <li class="student-row">
                <div>
                    <strong>학과</strong>
                    <strong>학번</strong>
                    <strong>이름</strong>
                    <strong>선택</strong>
                </div>
            </li>
            {% comment %} {% for student in students %}
                <li class="student-row">
                    <div>
                        {{ student.major }}
                    </div>
                    <div>
                        {{ student.student_id }}
                    </div>
                    <div>
                        {{ student.full_name }}
                    </div>
                    <div>
                        {% for stamp_collection in stamp_collections %}
                            {% if stamp_collection.student_id == student.student_id %}
                            <input type="checkbox" name="event_check" value="{{ stamp_collection.id }}" {% if stamp_collection.is_collected %} checked {% endif %}>
                            {% endif %}
                        {% endfor %}
                    </div>
                </li>
            {% endfor %} {% endcomment %}

            {% for student in stamp_collections %}
                <li class="student-row">
                    <div>
                        {{ student.student.major }}
                    </div>
                    <div>
                        {{ student.student_id }}
                    </div>
                    <div>
                        {{ student.student.full_name }}
                    </div>
                    <div>
                        {% comment %} {% for stamp_collection in stamp_collections %}
                            {% if stamp_collection.student_id == student.student_id %} {% endcomment %}
                            <input type="checkbox" name="event_check" value="{{ student.id }}" {% if student.is_collected %} checked {% endif %}>
                            {% comment %} {% endif %}
                        {% endfor %} {% endcomment %}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <input type="submit" value="이벤트 참여">
    </form>
</body>
</html>