@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OKGUNG';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKGUNG.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Shilla_CultureB-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
.header-font {
    font-family: 'yg-jalnan', sans-serif;
}
.okman-font {
    font-family: 'OKGUNG', sans-serif;
}
.shilla-font{
    font-family: 'Shilla_CultureB-Bold', sans-serif;
}
.display-container {
    box-shadow: 0 0 15px 0 hsla(0, 0%, 100%, .75);
    max-width: 415px;   
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    padding-top: 100px;
    z-index: 0;
    background-color: #b2ccff;
    overflow-x: hidden;
}