<!DOCTYPE html>
<html>
<head>
    <title>도장 추가</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <form method='post' enctype="multipart/form-data">
		{% csrf_token %}
		<table>
			<tbody>
				<tr>
					<th><label for="id_event_name">event_name:</label></th>
					<td><input type="text" name="event_name" maxlength="10" required="" id="id_event_name"></td>
				</tr>
				<tr>
					<th><label for="id_event_info">event_info:</label></th>
					<td><input type="text" name="event_info" maxlength="30" required="" id="id_event_info"></td>
				</tr>
				{% comment %} <tr>
					<th><label for="id_event_start">event_start:</label></th>
					<td>
						<input type="number" name="event_start_year" id="id_event_start_year" min="2023" max="2030" required="">
						<span>년</span>
						<input type="number" name="event_start_month" id="id_event_start_month" min="1" max="12" required="">
						<span>월</span>
						<input type="number" name="event_start_day" id="id_event_start_day" min="1" max="31" required="">
						<span>일</span>
					</td>
				</tr>
				<tr>
					<th><label for="id_event_end">event_end:</label></th>
					<td>
						<input type="number" name="event_end_year" id="id_event_end_year" min="2023" max="2030" required="">
						<span>년</span>
						<input type="number" name="event_end_month" id="id_event_end_month" min="1" max="12" required="">
						<span>월</span>
						<input type="number" name="event_end_day" id="id_event_end_day" min="1" max="31" required="">
						<span>일</span>
					</td>
				</tr> {% endcomment %}
				
                <tr>
					<th><label for="id_event_start">event_start:</label></th>
					<td><input type="text" name="event_start" maxlength="30" required="" id="id_event_start" class="datepicker"></td>
				</tr>
				<tr>
					<th><label for="id_event_end">event_end:</label></th>
					<td><input type="text" name="event_end" maxlength="30" required="" id="id_event_end" class="datepicker"></td>
				</tr>
                <tr>
					<th><label for="after_image">after_image:</label></th>
					<td><input type="file" name="after_image" id="after_image" accept=".jpg, .jpeg, .png, .gif" required></td>
				</tr>
                
			</table>
        <button type="submit">추가</button>
    <a href="{% url 'stamp_list' %}">도장 목록으로 돌아가기</a>
</body>
<script>
	$(document).ready(function() {
		// Datepicker를 적용할 필드 선택자를 사용하여 Datepicker를 초기화합니다.
		$('.datepicker').datepicker({
			dateFormat: 'yy-mm-dd', // 날짜 형식 설정 (원하는 형식으로 변경할 수 있음)
			changeMonth: true, // 월 변경 가능
			changeYear: true, // 연도 변경 가능
			minDate: 0, // 오늘 이후의 날짜만 선택 가능하도록 설정 (선택 가능한 최소 날짜)
		});
	});
	</script> 
	<script>
		$(document).ready(function() {
			// 이벤트 핸들러 등록
			$('#id_event_start_year, #id_event_start_month, #id_event_start_day').on('input', function() {
				updateEventDate();
			});
		
			$('#id_event_end_year, #id_event_end_month, #id_event_end_day').on('input', function() {
				updateEventDate();
			});
		
			// 이벤트 날짜 업데이트 함수
			function updateEventDate() {
				var startYear = $('#id_event_start_year').val();
				var startMonth = $('#id_event_start_month').val();
				var startDay = $('#id_event_start_day').val();
		
				var endYear = $('#id_event_end_year').val();
				var endMonth = $('#id_event_end_month').val();
				var endDay = $('#id_event_end_day').val();
		
				// 이제 startYear, startMonth, startDay, endYear, endMonth, endDay 변수에 사용자 입력이 저장됩니다.
				// 여기서 원하는 처리를 수행할 수 있습니다.
			}
		});
		</script>
		
</html>
